$accent-color: #00BCD4;
$montserrat: 'Montserrat', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$dkgray-border: transparentize(#707070, 0.67);
$icon-color: #313131;

$menu-bg-color-1: #313131;
$menu-bg-color-2: lighten($menu-bg-color-1, 20%);
