@import 'base/normalize';
@import 'helpers/variables';

@import 'base/typography';

@import 'helpers/mixins';

@import 'components/buttons';
@import 'components/links';
@import 'components/common';


*, *::after, *::before {
	@include box-sizing(border-box);
}

body {
    margin: 0;
}

canvas {
    display: block;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #212121;
}

.landing-title {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: scale(0) translate(50%, -50%);
    transform: scale(0) translate(50%, -50%);
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 2px #131415;
    transition: height 0.4s;
    padding: 10px 20px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .landing-title__vcentered {
        width: 100%;
    }
    
    @include for-size(tablet-portrait-up) {
        padding: 50px 40px 40px 40px;
        width: 90%;
        max-width: 500px;
        height: auto;
        align-items: center;
        

        .landing-title__vcentered {
            min-height: 50vh;
        }

        .landing-title__action {
            height: 25vh;
            align-items: flex-end;
        }
    }

    h1 {
        text-align: center;
        font-weight: 800;
        margin: 0 0 10% 0;
        letter-spacing: 3px;
        color: inherit;
        
        @include for-size(phone) {
            font-size: calc(1.6rem + 6 * ((100vw - 320px) / 680));
        }

        @include for-size(small-phone-only) {            
            font-size: 1.5rem;
        }
        
        @include for-size(tablet-portrait-up) {
            font-size: 2.8rem;
            letter-spacing: 5px;
        }

        .word-split {
            &:not(:first-child) {
                margin-left: 10px;
            }
            &:last-child {
                .letter:last-child{
                    color: $accent-color;       
                }         
            }
        }

        &.landing-title__greeting {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            line-height: 55px;
        }
    }

    .landing-title__name {
        text-align: center;
        font-weight: 800;
        margin: 20px 0;
        letter-spacing: 3px;
        color: inherit;
        
        @include for-size(phone) {
            font-size: calc(1.4rem + 6 * ((100vw - 320px) / 680));
        }

        @include for-size(small-phone-only) {
            font-size: 1.2rem;
        }

        @include for-size(tablet-portrait-up) {
            font-size: 2.2rem;
            letter-spacing: 5px;
        }       

        .letter:last-child {
            color: $accent-color;
        }
    }

    .letter {
        font-family: $montserrat;
        display: inline-block;
        line-height: 1em;
        opacity: 0;
        color: inherit;
        
    }

    .landing-title__content {
        margin-top: 50px;
        line-height: 21px;
        letter-spacing: 2px;

        h2 {
            text-align: center;
            position: relative;
            width: max-content;
            margin: 0 auto;
            color: inherit;
            
            @include for-size(phone) {
                font-size: calc(1rem + 6 * ((100vw - 320px) / 680));
            }
            @include for-size(small-phone-only) {
                font-size: 1rem;
            }

            &:after {
                transition: all 0.4s;
                width: 0;
                content: "";
                border-bottom: solid 2px;
            }

            &.underlined {
                &:after {
                    $color1: transparentize($accent-color, 0.4);
                    content: "";
                    position: absolute;
                    transition: all 0.4s;
                    width: 100%;
                    border-bottom: solid 2px $color1;
                    transition: all 0.5s ease-in-out;
                    left: 0;
                    color: inherit;

                    @include for-size(small-phone-only) {
                        border-bottom: solid 2px $color1;
                        bottom: -5px;
                    }

                    @include for-size(phone) {
                        bottom: -5px;
                    }

                    @include for-size(tablet-portrait-up) {
                        bottom: -10px;
                        border-bottom: solid 3px $color1;                        
                    }
                }
            }
            
        }
    }

    .landing-title__action {
        margin: 35vh auto 30px auto;

        @include for-size(tablet-portrait-up) {
            margin: 20px auto 0 auto;
        }
        
        width: 100%;
        max-width: 320px;
        display: flex;
        justify-content: space-between;
    }

}

.logo-container  {
    width: 60px;
    height: 60px;
    border: 1px solid $dkgray-border;
    border-radius: 11px;
    padding: 10px 10px;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #FFFFFF;
    z-index: 2;
}


/* Navigation adaptem from:
https: //codyhouse.co/gem/css-rounded-animated-navigation/
*/
.nav-trigger {
    position: fixed;
    top: 20px;    
    right: 20px;
    height: 60px;
    width: 60px;
    z-index: 5;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    border: 1px solid $dkgray-border;
    border-radius: 11px;
    background-color: #FFFFFF;

    .icon {
        /* icon created in CSS */
        background-color: $icon-color;
        position: absolute;
        @include center; // mixin inside partials > _mixins.scss
        display: inline-block;
        width: 18px;
        height: 3px;
        z-index: 10;
        &::before,
        &:after {
            content: '';
            background-color: $icon-color;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            /* Force Hardware Acceleration in WebKit */
            @include transform(translateZ(0));
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            /* apply transition to transform property */
            -webkit-transition: -webkit-transform .3s;
            -moz-transition: -moz-transform .3s;
            transition: transform .3s;
        }
        &::before {
            @include transform(translateY(-6px) rotate(0deg));
        }
        &::after {
            @include transform(translateY(6px) rotate(0deg));
        }
    }

    &::before, &::after {
        content: '';
		/* 2 rounded colored backgrounds for the menu icon */
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50%;
		height: 100%;
		width: 100%;
		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transition-property: transform;
	}

	&::before {
		background: transparent;
		@include transform(scale(1));
		transition-duration: .3s;
		transition-delay: .4s;
	}

	&::after {
		@include transform(scale(0));
		transition-duration: 0s;
		transition-delay: 0s;
	}

    &.close-nav {
        border: 1px solid $accent-color;
        background-color: transparent;
    }

	&.close-nav::before {
		/* user clicks on the .cd-nav-trigger element - 1st rounded background disappears */
		@include transform(scale(0));
	}

	&.close-nav::after {
		/* user clicks on the .cd-nav-trigger element - 2nd rounded background appears */
		@include transform(scale(1));
		transition-duration: .3s;
		transition-delay: .4s;
	}

	&.close-nav .icon {
		/* user clicks on the .cd-nav-trigger element - transform the icon */
		background-color: rgba($accent-color, 0);

		&::before, &::after {
			background-color: rgba($accent-color, 1);
		}
		
		&::before {
			@include transform(translateY(0) rotate(45deg));
		}

		&::after {
			@include transform(translateY(0) rotate(-45deg));
		}
	}
}

.primary-nav {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 80px 5%;
    z-index: $nav-zindex;
    background-color: transparentize($menu-bg-color-1, 0.1);
    overflow: auto;
    /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .3s;
    li {
        margin: 1.6em 0;
        text-align: center;
        text-transform: capitalize;
        width: 100%;
    }
    a {
        font-size: 6vh;
        font-weight: 400;
        letter-spacing: 2px;
        color: #fff;
        text-decoration: none;
        position: relative;
        @include font-smoothing;
    }
    &.fade-in {
        /* navigation visible at the end of the circle animation */
        visibility: visible;
        opacity: 0.9;
    }
}

.overlay-nav,
.overlay-content {
    /* containers of the 2 main rounded backgrounds - these containers are used to position the rounded bgs behind the menu icon */
    position: fixed;
    top: 28px;
    right: 28px;
    height: 4px;
    width: 4px;
    @include transform(translateX(-20px) translateY(20px));
    span {
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        /* Force Hardware Acceleration in WebKit */
        @include transform(translateZ(0));
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform;
        @include transform-origin(50% 50%);
        @include transform(scale(0));
    }
    &.is-hidden {
        /* background fades out at the end of the animation */
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s 0s, visibility 0s .3s;
    }
}

.overlay-nav {
    opacity: 0.9;
    z-index: $layer-nav-zindex;
    span {
        background-color: transparentize($menu-bg-color-1, 0.1);
    }
}

.overlay-content {
    z-index: $layer-content-zindex;
    span {
        background-color: #fff;
    }
}


main {
    z-index: $content-zindex;
    margin-top: 120px;
}

section {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

    .mix {
        position: relative;
    }

    h1 {
        position: absolute;
        padding-left: 20px;
        top: -50px;
    }
    .section-content {
        padding: 40px 20px 30px 20px;
        background-color: #FAFAFA;
    }
}

