.btn {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .5rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 50px;
    font-weight: 500;
}

.btn-primary {
    background-color: $accent-color;
    color: #fff;
    border: 1px solid $accent-color;
    outline: none;
    overflow: hidden;

    &.wider {
        min-width: 200px;
    }
}

$s-btn-width: 8em;
$l-btn-width: 10em;
/* Secondary button style adapted from
https: //codepen.io/chrisota/pen/bNdRaM
*/
.btn-secondary {
    position: relative;
    border: 1px solid $accent-color;
    background-color: transparent;
    width:$s-btn-width;
    color: $accent-color;
    outline: none;
    overflow: hidden;
    transition: color 0.3s 0.1s ease-out;
    z-index: 2;
    &::before {
        position: absolute;
        top: -108px;
        right: 0;
        bottom: 0;
        content: '';
        border-radius: 50%;
        display: block;
        width: $s-btn-width*2;
        height: $s-btn-width*2;
        left: -$s-btn-width/2;
        text-align: center;
        transition: box-shadow 0.5s ease-out;
        z-index: -1;
    }

    &:hover {
        color: #fff;
        &::before {
            box-shadow: inset 0 0 0 $s-btn-width rgba($accent-color, 1);
        }
    }
}

.wider-s-btn {
    width:$l-btn-width;
    &::before {
        top: -138px;
        width: $l-btn-width*2;
        height: $l-btn-width*2;
        left: -$l-btn-width/2;
    }

    &:hover {
        &::before {
            box-shadow: inset 0 0 0 $l-btn-width rgba($accent-color, 1);
        }
    }
}